.screen-header {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
@keyframes rotatecog {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotatecog 1s linear infinite;
}
